<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome to your new home</h1>
    <p>Book unique homes to leave a local's life</p>
    <form action="#" class="form-inline">
        <div class="form-group">
          <label for="email"></label>
          <input type="email" id="email" class="form-control" placeholder="Where?">
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" id="password" class="form-control" placeholder="When?">
        </div>
        <select id="referrer" name="search" class="form-control">
          <option value="">1 bed</option>
          <option value="">2 beds</option>
          <option value="">3 beds</option>
        </select>
        <input type="submit" value="Search" class="btn btn-primary">
    </form>
  </div>
</div>
</div>
